.form {
  margin: 2rem auto 0;

  border: 3px solid var(--clr-accent);
  border-radius: 0.5rem;
  padding: 2rem 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 720px;
}

.form h3 {
  text-align: center;
  font-family: var(--font-title);
  font-weight: 700;
  font-size: 1.6rem;
}

.input-container-row {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.textarea {
  width: 100%;
}

.textarea textarea {
  margin-top: 5px;
  width: 100%;
  padding: 1rem;
  resize: none;
  border-radius: 5px;
  border-color: var(--clr-accent);
}

.submit {
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  background-color: var(--clr-accent);
  color: var(--clr-font-100);

  border: 2px solid var(--clr-accent);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  width: 50%;
  cursor: pointer;
  transition: background-color 300ms, color 300ms;
}

.submit:hover {
  background-color: inherit;
  color: var(--clr-font-400);
}

.submit:active {
  scale: 0.98;
}

@media screen and (max-width: 768px) {
  .form {
    padding: 1rem 1.5rem;
    align-items: flex-start;
  }

  .form h3 {
    align-self: center;
  }

  .submit {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .form {
    gap: 0.5rem;
  }
  .input-container {
    gap: 0.5rem;
  }

  .input-container-row {
    flex-direction: column;
    gap: 0.5rem;
  }
}
